<div class="bd-example library">
  <div class="bd-title">Library</div>

  <!-- List of Gates -->
  <div class="d-flex flex-wrap">
    <div class="card bg-light mb-3 gate-card"
        *ngFor="let gate of gateCategories">
      <div class="card-header">{{gate.name}}</div>
      <div class="card-body">
        <img [src]="gate.image" alt="..."/>
      </div>
    </div>
  </div>
</div>

<div class="diagram" id="diagramContainer">
  <img class="item" id="1" src="/src/assets/images/AND.png" />
</div>