<main>
<div class="container" style="padding: 40px 0 70px 0">
  <h1 class="display-4">Logic Gate Simulator</h1>
  <hr />

  <p>A free, simple, online logic gate simulator. Investigate the behaviour of AND, OR, NOT, NAND, NOR and XOR gates. Select gates from the box and drag them to make connections. Right click connections to delete them. See <a href="#video">intruction video</a> for more detailed instructions.</p>
  <logic-map></logic-map>
  <div class="embed-responsive embed-responsive-16by9" id="video">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DfvYxZo_Ntg" allowfullscreen></iframe>
  </div>
</div>
<footer class="card-footer text-center">Logic Gate Simulator. Made by <a href="http://www.hoakusa.com">An Pham</a> © 2017</footer>
</main>